<div class=container style="padding-top: 40px">
    <div class="col-sm-12" style="padding-top: 20px">
            <h3>{{model.data.Title}}</h3>
        </div>
    <div>
    <div class="col-sm-4" style="padding-top: 20px">
            <img ng-src="{{model.data.Poster}}" height="400px"/>
        </div>

        <div class="col-sm-6" style="padding-top: 20px">
            <div class="list-group">
                <a class="list-group-item">
                <span class="glyphicon glyphicon-king"> Director: {{model.data.Director}}</span>
                </a>
                <a class="list-group-item">
                    <span class="glyphicon glyphicon-calendar"> Year: {{model.data.Year}}</span>
                </a>
                <a class="list-group-item">
                    <span class="glyphicon glyphicon-sunglasses"> Rated: {{model.data.Rated}}</span>
                </a>
                <a class="list-group-item">
                    <span class="glyphicon glyphicon-apple"> Rating: {{model.data.imdbRating}}</span>
                </a>

                <a class="list-group-item">
                    <p><span class="glyphicon glyphicon-flag"> Genre: {{model.data.Genre}}</span></p>
                </a>


                <a class="list-group-item">
                    <div>
                        <span class="glyphicon glyphicon-fire"> Popularity: {{model.numberOfLikes}}</span>
                    </div>
                </a>

                <a class="list-group-item" ng-show="model.numberOfLikes > 0">
                    <span class="glyphicon glyphicon-user"> Fans:
                    <span ng-repeat="user in model.movie.userLikes">
                          {{user.username}}
                    </span>
                        </span>
                </a>



            </div>
        </div>

        </div>
    <div class="col-sm-12" style="padding-top: 30px">
        <h4>Full Plot</h4>
        <p>{{model.data.Plot}}</p>
    </div>

</div>
