<div ng-controller="AccountController">
<div class="container" style="padding-top: 60px;">
    <h1 class="page-header"><i class="fa fa-coffee"></i>Hello {{currentUser.username}} Edit Profile</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
        </div>
        <!-- edit form column -->
        <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>
        <div class="col-md-8 col-sm-6 col-xs-12">

            <h3>Personal info</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input ng-model="currentUser.firstName" class="form-control" placeholder="First name"
                               type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input ng-model="currentUser.lastName" class="form-control" placeholder="Last name" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input ng-model="currentUser.email" class="form-control" placeholder="you@email.com"
                               type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input ng-model="currentUser.username"  class="form-control" placeholder="Username" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input ng-model="currentUser.password" class="form-control"  type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input ng-model="currentUser.verifyPassword" class="form-control"  type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <button ng-click="model.update(currentUser)" class="btn btn-primary">Save Change</button>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>