<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login with</h4>
            </div>
            <div class="modal-body">
                <div ng-controller="LoginController" class="box">
                    <div class="content">
                        <div ng-if="message" class="alert alert-info">{{message}}</div>
                        <div class="social">
                            <a class="circle github" href="javascript: showRegisterForm();">
                                <i class="fa fa-github fa-fw"></i>
                            </a>
                            <a id="google_login" class="circle google" href="javascript: showRegisterForm();">
                                <i class="fa fa-google-plus fa-fw"></i>
                            </a>
                            <a id="facebook_login" class="circle facebook" href="javascript: showRegisterForm();">
                                <i class="fa fa-facebook fa-fw"></i>
                            </a>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form accept-charset="UTF-8" method="post">
                                <input ng-model="user.username"  class="form-control" type="text"
                                       placeholder="Username">
                                <input ng-model="user.password"  class="form-control"
                                       type="password" placeholder="Password">
                                <input class="btn btn-default btn-login" type="button" value="Login"
                                       ng-click="login(user)">
                            </form>
                        </div>
                    </div>
                </div>
                <div ng-controller="RegisterController" class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <form method="post" html="{:multipart=>true}" data-remote="true" accept-charset="UTF-8">
                                <input ng-model="newUser.username" id="rUsername" class="form-control" type="text"
                                       placeholder="Username"
                                       name="username">
                                <input ng-model="newUser.password" id="rPassword" class="form-control"
                                       type="password"
                                       placeholder="Password"
                                       name="password">
                                <input ng-model="newUser.verifyPassword" id="rPassword_confirmation"
                                       class="form-control" type="password"
                                       placeholder="Repeat Password" name="password_confirmation">
                                <input class="btn btn-default btn-register" type="submit" value="Create account"
                                       ng-click="register(newUser)">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                            <span>Looking to
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Already have an account?</span>
                    <a href="javascript: showLoginForm();">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>