<div class="container" style="padding-top: 20px; padding-left: 12px">
    <div class="row">
        <!-- code start -->
        <div class="container">
            <a class="twPc-bg twPc-block"></a>



                <a title=user  class="twPc-avatarLink">
                    <img alt="user"
                         src="http://lorempixel.com/200/200/people/9/" class="twPc-avatarImg">
                </a>

                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <a href="">Username</a>
                    </div>

                        <button class="follow">
                            <span class="msg-follow">Follow</span>
                            <span class="msg-following">Following</span>
                            <span class="msg-unfollow">Unfollow</span>
                        </button>
                </div>


                <ul class="nav nav-tabs">
                    <li>
                        <a href="" title="9.840 Reviews">
                        <span class="twPc-StatLabel twPc-block">Reviews</span>
                        <span class="twPc-StatValue">9.840</span>
                        </a>
                    </li>

                    <li calss="active">
                        <a href="" title="9.840 Reviews">
                            <span class="twPc-StatLabel twPc-block">Following</span>
                            <span class="twPc-StatValue">885</span>
                        </a>
                    </li>

                    <li calss="active">
                        <a href="" title="9.840 Reviews">
                            <span class="twPc-StatLabel twPc-block">Following</span>
                            <span class="twPc-StatValue">885</span>
                        </a>
                    </li>
                </ul>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>hello</thead>

                    </table>
                </div>


            </div>
        </div>
        <!-- code end -->
    </div>
</div>