<div class="container" style="padding-top: 20px; padding-left: 12px">
    <div class="row">
        <!-- code start -->
        <div class="container">
            <a class="twPc-bg twPc-block"></a>

                <a title=user  class="twPc-avatarLink">
                    <img alt="user"
                         src="http://lorempixel.com/200/200/people/9/" class="twPc-avatarImg">
                </a>
                <br>
                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <h1>{{currentUser.username}}</h1>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#/review">
                        <span class="twPc-StatLabel twPc-block">Reviews</span>
                        <span class="twPc-StatValue">100</span>
                        </a>
                    </li>

                    <li>
                        <a href="#/following">
                            <span class="twPc-StatLabel twPc-block">Following</span>
                            <span class="twPc-StatValue">{{currentUser.following.length}}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#/follower">
                            <span class="twPc-StatLabel twPc-block">Follower</span>
                            <span class="twPc-StatValue">{{currentUser.followers.length}}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#/favorite">
                            <span class="twPc-StatLabel twPc-block">Favorite</span>
                            <span class="twPc-StatValue">{{currentUser.likes.length | number}}</span>
                        </a>
                    </li>
                </ul>
            </div>
    </div>

</div>