<div>
<h1 class="page-header">Forms : Registration Form</h1>

    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a href="fields.view.html">Fields</a></li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-8">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>

                    <div class="col-xs-4">
                        <br><br>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-pencil"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-plus"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-remove"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-menu-hamburger"></div></a>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-xs-8">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="col-xs-4">
                        <br><br>
                    <a href=""><div class="col-xs-3 glyphicon glyphicon-pencil"></div></a>
                    <a href=""><div class="col-xs-3 glyphicon glyphicon-plus"></div></a>
                    <a href=""><div class="col-xs-3 glyphicon glyphicon-remove"></div></a>
                    <a href=""><div class="col-xs-3 glyphicon glyphicon-menu-hamburger"></div></a>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="col-xs-8 date">
                        <label>Date of Birth</label>
                        <div class="input-group input-append date" id="datePicker">
                            <input type="text" class="form-control" name="date" placeholder="MM/DD/YYYY"/>
                            <span class="input-group-addon add-on">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <br><br>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-pencil"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-plus"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-remove"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-menu-hamburger"></div></a>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-xs-8">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender">
                        <option>Male</option>
                        <option>Female</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <br><br>
                    <a href=""><div class="col-xs-3 glyphicon glyphicon-pencil"></div></a>
                    <a href=""><div class="col-xs-3 glyphicon glyphicon-plus"></div></a>
                    <a href=""><div class="col-xs-3 glyphicon glyphicon-remove"></div></a>
                    <a href=""><div class="col-xs-3 glyphicon glyphicon-menu-hamburger"></div></a>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-xs-8">
                        <label>Roles:</label>
                        <div class="checkbox">
                            <label><input type="checkbox" value="Admin" checked>Admin</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="Student">Student</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="User" checked>User</label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <br><br>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-pencil"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-plus"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-remove"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-menu-hamburger"></div></a>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-xs-8">
                        <label>Lincense Agreement:</label>
                        <div class="radio">
                            <label><input type="radio" name="optionsRadios" value="yes" checked>Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optionsRadios" value="no">No</label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <br><br>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-pencil"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-plus"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-remove"></div></a>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-menu-hamburger"></div></a>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-xs-8">
                        <label for="gender">Add New Field</label>
                        <select class="form-control" id="newField">
                            <option>Single Line Text</option>
                            <option>Option2</option>
                            <option>Option3</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <br><br>
                        <div class="col-xs-3"></div>
                        <a href=""><div class="col-xs-3 glyphicon glyphicon-plus"></div></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>






