<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">Welcome!</h1>
        <div class="col-sm-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur erat ex,eget faucibus lectus tincidunt in. Nullam luctus magna lorem. Maecenas maximus semper convallis. Praesent sed posuere tellus, cursus consectetur enim. Nullam placerat turpis turpis, id imperdiet lacus gravida in. Ut ut mauris sed dui pharetra facilisis quis sed libero. Fusce eget tortor sed enim auctor tincidunt. Nunc viverra at risus nec luctus. Quisque varius ut odio ut vulputate. Nunc sed nulla sodales, ullamcorper mauris et, pellentesque elit. Sed posuere et enim vel facilisis.
            </p>
         </div>
    </div>
</div>
