<link href="css/userRate.css" rel="stylesheet"/>
<div>
    <div ng-include="'views/user/profile.html'"></div>
    <div class="wrap">
        <div class="floatleft"></div>
        <div class="floatright">
            <div class="row">
                <div class="col-sm-8" style="padding-left: 30px; padding-top: 20px">
                    <h4>Reviews</h4>
                    <div class="review-block" style="background-color: #d5d5d5">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="http://lorempixel.com/200/200/people/9/" height="80px" class="img-rounded">
                                <div class="review-block-name"><a href="#">bob</a></div>
                                <div class="review-block-date">Janary 3, 2016</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="review-block-title">Nice day</div>
                                <div class="review-block-description">It's is a nice movie</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>