<div ng-controller = "AdminController">
    <h1 class="page-header">Admin</h1>

    <h3>Users</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th nowrap>
                      <span ng-show="model.sortedByUsername != null && !sortReverse"
                              class="glyphicon glyphicon-triangle-bottom"></span>
                           <span ng-show="model.sortedByUsername != null && sortReverse"
                                 class="glyphicon glyphicon-triangle-top"></span>
                       <a href="" ng-click = "model.sortByUsername(); sortReverse = !sortReverse">
                           Username
                       </a>
                    <div>
                        <input ng-model="model.newUser.username" type="text" class="form-control" id="inputUsername"
                               placeholder="Username">
                    </div>
                </th>

                <th nowrap> Password
                    <div>
                        <input ng-model="model.newUser.password" type="password" class="form-control"
                               id="inputPassword" placeholder="password" value="{{model.user.password}}">
                    </div>
                </th>

                <th nowrap>
                       <span ng-show="model.sortedByFirstName != null && !sortReverse"
                             class="glyphicon glyphicon-triangle-bottom"></span>
                           <span ng-show="model.sortedByFirstName != null && sortReverse"
                                 class="glyphicon glyphicon-triangle-top"></span>
                    <a href="" ng-click = "model.sortByFirstName(); sortReverse = !sortReverse">
                        FirstName
                    </a>
                    <div>
                        <input ng-model="model.newUser.firstName" type="text" class="form-control"
                               id="inputFirstName" placeholder="First Name">
                    </div>
                </th>
                <th nowrap>
                       <span ng-show="model.sortedByLastName != null && !sortReverse"
                             class="glyphicon glyphicon-triangle-bottom"></span>
                           <span ng-show="model.sortedByLastName != null && sortReverse"
                                 class="glyphicon glyphicon-triangle-top"></span>
                    <a href="" ng-click = "model.sortByLastName(); sortReverse = !sortReverse">
                        LastName
                    </a>
                    <div>
                        <input ng-model="model.newUser.lastName" type="text" class="form-control" id="inputLastName"
                               placeholder="Last Name">
                    </div>
                </th>
                <th nowrap>Role
                    <div>
                        <input ng-model="model.newUser.roles" type="text" class="form-control" id="inputRole"
                               placeholder="Roles">
                    </div>
                </th>
                <th nowrap>
                    <!--<div class="col-sm-1">Actions</div>-->
                    Actions
                    <div>
                        <a ng-click = "model.addUser(model.newUser)" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>

                        <a ng-click = "model.updateUser()" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>

                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in model.users track by $index">
                <td class="td-text">{{u.username}}</td>
                <td></td>
                <td class="td-text">{{u.firstName}}</td>
                <td class="td-text">{{u.lastName}}</td>
                <td class="td-text">{{model.getText(u.roles)}}</td>
                <td>
                    <a ng-click="model.deleteUser($index)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>

                    <a ng-click="model.editUser($index)" class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




