<div ng-controller="SearchController">
    <div class=container style="padding-top: 100px">

        <form role="form" id = "NPMSearchForm">
            <div class="col-md-3"></div>
            <div class=" col-md-6 input-group input-group-lg">
                <input ng-model="model.movie.title" type="text" class="form-control" placeholder="princess">
                <span ng-click="model.search(model.movie)" class="input-group-addon glyphicon glyphicon-search"></span>
            </div>

        </form>

        <!-- Modal -->
        <div  class="modal fade" id="detailsModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{model.details.Title}}</h4>
                    </div>
                    <div class="modal-body">
                        <div  class="section col-md-4">
                        <img  ng-src="{{model.details.Poster}}" height="200px"/>
                        </div>
                        <div class="aside">
                        <table>
                            <thead><h4>Actors</h4></thead>
                            <tbody>
                            <tr ng-repeat="actor in model.details.Actors.split(',')">
                                <td class="td-text">{{actor}}</td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                        <div class="article">
                        <h4>Plot</h4>
                        <p>
                            {{model.details.Plot}}
                        </p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="model.favorite(model.details)">
                            <span ng-show="model.movie.likes.indexOf(currentUser._id) > -1"
                                  class="glyphicon glyphicon-star"></span>
                            <span ng-show="!model.movie || !model.movie.likes || model.movie.likes.indexOf(currentUser._id) == -1"
                                  class="glyphicon glyphicon-star-empty"></span>
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fim Modal-->


        <br>
        <br>
        <br>
        <div class="container">
            <div ng-if="model.data">
                <div class= "col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="movie in model.data.Search">
                    <div class="thumbnail">
                        <img class="img-responsive" ng-src="{{movie.Poster}}">
                        <div class="caption">
                            <a ng-click="model.getMovieDetails(movie)" data-toggle="modal" data-target="#detailsModal">
                            <h4>{{movie.Title}}
                                <a href="#/details/{{movie.imdbID}}">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                            </h4>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>