<div ng-controller="SearchController">
    <div class=container style="padding-top: 100px">

        <form role="form" id = "NPMSearchForm">
            <div class="col-md-3"></div>
            <div class=" col-md-6 input-group input-group-lg">
                <input ng-model="model.movie.title" type="text" class="form-control" placeholder="princess">
                <span ng-click="model.search(model.movie)" class="input-group-addon glyphicon glyphicon-search"></span>
            </div>

        </form>

        <br>
        <br>
        <br>
        <div class="container">
            <div ng-if="model.data">
                <div class= "col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="movie in model.data.Search">
                    <div class="thumbnail">
                        <img class="img-responsive" ng-src="{{movie.Poster}}">
                        <div class="caption">
                            <a href="#/details/{{movie.imdbID}}">
                            <h4>{{movie.Title}}</h4>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>